Оплата производится при помощи перевода средств на карту продавца.
<p>
Номер карты в ПриватБанке: <b>4405 8850 0981 0810</b>
</p>
<p>
Получатель: <b>Солонина Юлия Викторовна</b>
</p>
<p>
Укажите, пожалуйста, номер заказа в платежном документе.
Так будет проще отследить отправленные Вами средства на соотвествие заказу.
</p>
Мы с Вами свяжемся сразу же после офрмления заказа. Спасибо за Ваш заказ!
