<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    <div class="four columns">
      <h5>Контакты</h5>
      <div class="phone">
        <a href="callto:380633557518">(063) 355-7518</a>
      </div>
      <div class="phone">
        <a href="callto:380980633236">(098) 063-3236</a>
      </div>
      <br/>
      <div class="email">
        <a href="mailto:usolonina@mail.ru">usolonina@mail.ru</a>
      </div>
      <br/>
      <div class="address">
        Украина, г. Николаев
        <br/>
        ул. Космонавтов, 80
        <br/>
        рынок "Площадь Победы"
      </div>
    </div>
    
    <div class="four columns">
      <h5>Предложения</h5>
      <ul>
        <li><a href="/products">Новые поступления</a></li>
        <li><a href="/products">Топ продаж</a></li>
        <li><a href="/products">Летняя пряжа</a></li>
        <li><a href="/products">Зимняя пряжа</a></li>
        <li><a href="/products">Демисезонная пряжа</a></li>
        <li><a href="/products">Фурнитура</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Помощь</h5>
      <ul>
        <li><a href="/">Контакты</a></li>
        <li><a href="/">Доставка</a></li>
        <li><a href="/">Возврат</a></li>
        <li><a href="/">Помощь</a></li>
        <li><a href="/">Как проехать</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Информация</h5>
      <p>
        Интернет-магазин пряжи <strong>ВЕРЕТЕНО</strong>,
        реализует пряжу из Италии, Германии, Турции и других стран
      </p>
    </div>
  </div>
</footer>
